@using Webdiyer.WebControls.Mvc
@model Webdiyer.WebControls.Mvc.PagedList<IYogaKoo.ViewModel.tKeyWordGroup>


@{
    ViewBag.Title = "Index";
    Layout = null;
}
 
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.rownum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sWord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iNums)
        </th>
        <th></th>
    </tr>
    @{
        int i = 1;
    }
@foreach (var item in Model) {
    <tr>
        <td>
            @(i++)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sWord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iNums)
        </td>
        <td></td>
    </tr>
}

</table>
<div class="text-center" style="" id="menepager">
    @Ajax.Pager(Model, new PagerOptions
{
    PageIndexParameterName = "page",
    ContainerTagName = "ul",
    CssClass = "menepager",
    PrevPageText = "上页",
    NextPageText = "下页",
    FirstPageText = "首页",
    LastPageText = "尾页",
    CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>",
    DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>",
    PagerItemTemplate = "<li>{0}</li>"

}, new MvcAjaxOptions { UpdateTargetId = "mydiv", HttpMethod = "Post" })
</div>