@using Webdiyer.WebControls.Mvc
@model Webdiyer.WebControls.Mvc.PagedList<IYogaKoo.ViewModel.ViewtMessage>

@{ 
    Layout = null;
    List<IYogaKoo.ViewModel.ViewFollowUserDetail> listFollowGroup = ViewBag.listFollowGroup;
    var fromtype = ViewBag.FromType;//判断是‘收到的评论=0’还是‘发出的评论=1’
}
   
        <!--评论-->

 <div class="lb_znx_index_bottom_right_div" style="display:block">
                <div class="lb_add_znx_index">
                    
                    <ul>
                        @{
                            if (fromtype == 0) {
                                //收到的评论 
                                if (listFollowGroup.Count() > 0)
                                {
                                    foreach (var item in listFollowGroup)
                                    {
                                        <li>
                                            <div class="lb_xtxx_a">
                                                @if (item.iNew == 1 || item.iNew == 0)
                                                {
                                                    <a class="a"></a>
                                                }
                                            </div>
                                            <div class="lb_xtxx_img">
                                                <a href="@(item.userurl)@(item.uid)"><img src="@item.spic" /></a>
                                            </div>
                                            <div class="lb_xtxx_font">
                                                @*@if(item.messType == "我的日志") {
                                           
                                                    <p><b><a href="@(item.userurl)@(item.uid)">@item.FollowersName </a></b>评论了 <a href="/tWriteLog/OtherDetails/8?uid=100254">@(item.messType)</a></p>
                                                }*@
                                                <p><b><a href="@(item.userurl)@(item.uid)">@item.FollowersName </a></b>评论了@(item.messType)</p>
                                                <p><a class="ss">@(ViewBag.user.NickName)</a> @Html.Raw(item.Profile)</p>
                                                <p>@item.CreateTime</p>
                                            </div>
                                        </li>
                                    }

                                }
                            }
                            else
                            {
                                //发出的评论
                                if (listFollowGroup.Count() > 0)
                                {
                                    foreach (var item in listFollowGroup)
                                    {
                                        <li>
                                            <div class="lb_xtxx_a">
                                                @*@if (item.iNew == 1 || item.iNew == 0)
                                                {
                                                    <a class="a"></a>
                                                }*@
                                                <a></a>
                                            </div>
                                            <div class="lb_xtxx_img">
                                                <a href="@(item.userurl)@(item.uid)"><img src="@item.spic" /></a>
                                            </div>
                                            <div class="lb_xtxx_font">
                                                @*@if(item.messType == "我的日志") {

                                                        <p><b><a href="@(item.userurl)@(item.uid)">@item.FollowersName </a></b>评论了 <a href="/tWriteLog/OtherDetails/8?uid=100254">@(item.messType)</a></p>
                                                    }*@
                                                <p>我评论了 <b><a href="@(item.userurl)@(item.uid)">@item.FollowersName </a></b>@(item.messType)</p>
                                                <p><a class="ss">@(ViewBag.user.NickName)</a> @Html.Raw(item.Profile)</p>
                                                <p>@item.CreateTime</p>
                                            </div>
                                        </li>
                                    }

                                }
                            }
}
                        
                    </ul>
                </div>
                @*<div class="lb_add_znx_index" style="display:none">
                    <ul>
                        <li>
                            <div class="lb_xtxx_a">
                                <a class="a"></a>
                            </div>
                            <div class="lb_xtxx_img">
                                <img src="images/yj_ds.png" />
                            </div>
                            <div class="lb_xtxx_font">
                                <p>我评论了<b>你是谁？</b>的日志</p>
                                <p><a class="ss">sss</a>关注我关注我关注我关注我关注我关注我关注我关注我</p>
                                <p>9月28日 11：58</p>
                            </div>
                        </li>
                    </ul>
                </div>*@
            </div>

@section styles{
    <link href="~/Content/Front/css/pagerstyles.css" rel="stylesheet" />
}　
<div class="text-center" style="" id="menepager">
    @if(listFollowGroup.Count != 0) {  
        @Ajax.Pager(Model, new PagerOptions
{
    PageIndexParameterName = "page",
    PrevPageText = "上一页",
    NextPageText = "下一页",
    FirstPageText = "首页",
    LastPageText = "尾页",
    ContainerTagName = "ul",
    CssClass = "menepager",
    CurrentPagerItemTemplate = "<li class=\"active\"><a  >{0}</a></li>",
    DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>",
    PagerItemTemplate = "<li>{0}</li>"
}, new MvcAjaxOptions { UpdateTargetId = "Content", HttpMethod = "Post", })
    }
</div>
 