@model List<IYogaKoo.ViewModel.PicListGroup>

@{
    ViewBag.Title = "我的相册";
    Layout = "~/Views/Shared/ModelsDetails.cshtml";
    //默认显示所有图片
    List<IYogaKoo.ViewModel.ViewYogaPicture> piclistAll = ViewBag.piclistAll;
    //日志图片
    List<IYogaKoo.ViewModel.ViewYogaPicture> listwlogimg = new List<IYogaKoo.ViewModel.ViewYogaPicture>();
    //习练笔记App图片
    List<IYogaKoo.ViewModel.ViewYogaPicture> listwlogimgApp = new List<IYogaKoo.ViewModel.ViewYogaPicture>();
    //活动图片
    List<IYogaKoo.ViewModel.ViewYogaPicture> wlogimgclasslist = new List<IYogaKoo.ViewModel.ViewYogaPicture>();
    if (piclistAll.Count() > 0)
    {
        listwlogimg = piclistAll.Where(X => X.PictureType == 3).ToList();
        listwlogimgApp = piclistAll.Where(X => X.PictureType == 4).ToList();
        wlogimgclasslist = piclistAll.Where(X => X.PictureType == 6).ToList();
    }
}

@section styles
{
    <style type="text/css">
        /*瀑布流*/
        .wrapper img {
            border: none;
        }

        .wrapper {
            width: 1000px;
            margin: 0 auto;
        }

            .wrapper h3 {
                color: #3366cc;
                font-size: 16px;
                height: 35px;
                line-height: 1.9;
                text-align: center;
                border-bottom: 1px solid #E5E5E5;
                margin: 0 0 10px 0;
            }

        #con1_1 {
            position: relative;
        }

            #con1_1 .product_list {
                position: absolute;
                left: 0px;
                top: 0px;
                padding: 0px;
                /*background: #eee;*/
                margin: 2px;
                width:220px;
            }

        .product_list img {
            width: 220px;
        }

        .product_list p {
            padding: 5px 0px;
            font-size: 12px;
            text-align: center;
            color: #666;
            white-space: normal;
            word-break: break-all;
            background:#eee
        }

        #product_list a b {
            position: absolute;
            z-index: 1111;
            bottom: 40px;
            right: 10px;
            color: #ffffff;
            font-weight: 100;padding:0px 10px;
          background:#000;filter:alpha(Opacity=50);-moz-opacity:0.5;opacity: 0.5

        }
        /*返回顶部*/
        /*returnTop*/
        p#back-to-top {
            position: fixed;
            display: none;
            bottom: 300px;
            right: 150px;
        }

            p#back-to-top a {
                text-align: center;
                text-decoration: none;
                color: #979797;
                display: block;
                width: 64px;
                /*使用CSS3中的transition属性给跳转链接中的文字添加渐变效果 background:  url('../../Content/Front/images/defaultimg/Actions-arrow-up-top-icon.png')  */
                -moz-transition: color 1s;
                -webkit-transition: color 1s;
                -o-transition: color 1s;
            }

                p#back-to-top a:hover {
                    color: #65c3a5;
                }

                p#back-to-top a span {
                    background-image: url('../../Content/Front/images/defaultimg/Actions-arrow-up-top-icon.png');
                    border-radius: 6px;
                    display: block;
                    height: 64px;
                    width: 58px;
                    margin-bottom: 5px;
                    margin: 0 auto;
                }
        .lb_gr_index_top {
        border:0px
        }
        #back-to-top a:hover span {
            background-image: url('../../Content/Front/images/defaultimg/Actions-arrow-up-top-icon.png');
        }
    </style>
}
<input type="hidden" id="hhid" value="@ViewBag.user.Uid" />

<p class="lb_inde_x_index" style=" margin-left:0px">
    
   
</p>
<div class="lb_add_xiangce_da_div" style=" height:45px;">
    <span style="margin-left:225px; margin-top:15px;"> 相册列表(共 @Model.Count() 个)</span> <a href="Javascript:AddPhtotoFile();">创建相册</a>
</div>
<div class="lb_gr_idnex_center_rizhi" style=" height: auto; width:1155px;">
    @*<div class="lb_gr_xc_left">
        <ul>
            <li class="on"><a class="a1">习练图片<span></span></a></li>
            <li class=""><a class="a2">日志图片<span></span></a></li>
            <li class=""><a class="a3">人气图片<span></span></a></li>
        </ul>
    </div>*@
     <div class="lb_gr_xc_left">
        <ul>
            <li class="on"><a href="/YogaPic/MyPics?imgtypeid=0" class="a1">日志图片<span>@listwlogimg.Count</span></a></li>
            <li class=""><a href="/YogaPic/MyPics?imgtypeid=1" class="a2">习练图片<span>@listwlogimgApp.Count</span></a></li>
            <li class=""><a href="/YogaPic/MyPics?imgtypeid=2" class="a3">活动图片<span>@(wlogimgclasslist == null ? 0 : wlogimgclasslist.Count)</span></a></li>
        </ul>
     
    </div>
    @{
        <div class="wrapper" style="float:right; width:930px;">

            <div class="wrapper" style="">
                @{

                    if (Model != null)
                    {
                        if (Model.Count() > 0)
                        {
                            <div id="con1_1">
                                @{
                            int k = 0;
                            string strValue = "strValue";
                            string strNewTitle = "strNewTitle";
                                }
                                @foreach (var item in Model)
                                {
                                    if (item.picnum == 0)
                                    {
                                        <div class="product_list" id="product_list">
                                            <a href="/YogaPic/Create?pictitle=@item.pictitle">
                                                <img src="@(item.picsrc == null ? "../Content/Front/images/filebackimg.png" : item.picsrc)" />
                                                
                                            </a>

                                            <div class="product_list_div">
                                                <a>
                                                    <img src="~/Content/Front/images/jiantou.png" />
                                                </a>
                                                <div class="product_list_div_hide">
                                                    <a class="a1" id="@k" href="Javascript:DisplayDiv('@k')">编辑</a>
                                                    <a class="a2" href="Javascript:DeleteFileImg('@item.pictitle')">删除</a>
                                                </div>
                                            </div>

                                            <p>@(item.pictitle)</p>
                                            <div id="@strValue@k" style="display:none;">
                                                <input type="text" id="@strNewTitle@k" name="@strNewTitle@k" />
                                                <a class="a2" href="Javascript:EditFileInfo('@item.pictitle','@k')">确定</a>
                                            </div>
                                        </div>
                                }
                                    else
                                    {
                                    <div class="product_list" id="product_list">
                                        <a href="/YogaPic/MyPicsDetails/@item.pictitle" id="@item.uid  ">
                                            <img src="@(item.picsrc == "~/Content/Front/images/filebackimg.jpg" ? "" : item.picsrc)" />
                                            <b>@item.picnum</b>
                                        </a>
                                        
                                        <div class="product_list_div">
                                            <a>
                                                <img src="~/Content/Front/images/jiantou.png" />
                                            </a>
                                            <div class="product_list_div_hide">
                                                <a class="a1" id="@k" href="Javascript:DisplayDiv('@k')">编辑</a>
                                                <a class="a2" href="Javascript:DeleteFileImg('@item.pictitle')">删除</a>
                                            </div>
                                        </div>

                                        <p>@(item.pictitle)</p>
                                        <div id="@strValue@k" style="display:none;">
                                            <input type="text" id="@strNewTitle@k" name="@strNewTitle@k" />
                                            <a class="a2" href="Javascript:EditFileInfo('@item.pictitle','@k')">确定</a>
                                        </div>
                                    </div>
                                }
                                    k++;
                                }
                            </div>
                        }
                    }
                }
            </div>
        </div>
    }

</div>
 
<script type="text/javascript">
    //瀑布流

    $(document).ready(function () {
        var $container = $('#con1_1');
        $container.imagesLoaded(function () {
            $container.masonry({
                itemSelector: '.product_list',
                columnWidth: 10 ,//每两列之间的间隙为5像素
            });
        });
    });

    //选中我的相册标签
    $(document).ready(function () {
        $('.lb_gr_index_top li:eq(1)').children('a').addClass('on').parent().siblings().children('a').removeClass('on');

    });

    //显示
    function DisplayDiv(k) {
       
        $("#strValue" + k).show();
    }
     
    //创建相册
    function AddPhtotoFile()
    {
        
        layer.prompt({ title: '创建相册', formType: 2 }, function (text) {
            // layer.msg('演示完毕！您的口令：' +  ' 您最后写下了：' + text);
            $.ajax({
                url: '/YogaPic/Info?t=' + Math.random(),
                type: 'post',
                datatype: 'json',
                data: {
                    txtpicName: text
                },
                success: function (data) {
                   
                    layer.msg('创建相册成功', function () {
                        //关闭后的操作
                        window.location.href = '/YogaPic/PhotoFileInfo';
                    });
                      
                }
            });
            //parent.window.location.href = window.location.href;
        });
        

    }
    //编辑
    function EditFileInfo(OldFileName, kValue) {

        $.ajax({
            url: "/YogaPic/EditFileInfo",
            type: "post",
            dataType: "json",
            data: {
                OldFileName: OldFileName,
                NewFileName: $("#strNewTitle" + kValue).val()
            },
            success: function (data) {
              
                if (parseInt(data.code) == 0) {

                    window.location.reload();
                } if (parseInt(data.code) === 2) {
                    layer.msg("该信息已经存在！");
                }
                else {
                    
                }
            },
            async: true,//同步操作，同步请求将锁住浏览器，用户其它操作必须等待请求完成才可以执行
        });

    }
    //删除
    function DeleteFileImg(dirInfoName) {
        $.ajax({
            url: "/YogaPic/DeleteFileImg",
            type: "post",
            dataType: "json",
            data: {
                dirInfoName: dirInfoName
            },
            success: function (data) {
                
                if (parseInt(data.code) == 0) {

                    window.location.reload();
                }
                else {
                  
                }
            },
            async: true,//同步操作，同步请求将锁住浏览器，用户其它操作必须等待请求完成才可以执行
        });
    }
</script>

  