@using IYogaKoo.ViewModel;
@using IYogaKoo.ViewModel.Commons.Enums;
@model IYogaKoo.ViewModel.ViewtQuestion
@{
    ViewBag.Title = "寻求帮助";

    Layout = null;
    //用户ID
    var id = ViewBag.id;

    Commons.Helper.method method = new Commons.Helper.method();
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta property="qc:admins" content="37466671526117713776375" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="iyogakoo 爱瑜伽酷，是汇聚世界的瑜伽爱好者，瑜伽行者的地方。 让我们用爱来接受自己，接受宇宙带给我们的能量。瑜伽是没有国界的。" />
    <meta name="keywords" content="iyogakoo,爱瑜伽酷，瑜伽，瑜伽习练者，瑜伽导师，瑜伽行者，瑜伽，Guru, yoga teacher" />
    <title>Iyogakoo 爱瑜伽酷， 世界瑜伽人之家。</title>
    <link rel="shortcut icon" href="/Content/Front/images/2.ico.png" />
    <link type="text/css" href="/Content/Front/css/indexnew.css?v=1" rel="stylesheet" />
    <link href="~/Content/uploadify/uploadify.css" rel="stylesheet" />
    <link href="~/Content/Main.css" rel="stylesheet" />
    <style>
        /*隐藏进度条*/
        #fileQueue {
            display: none;
        }
    </style>
    <script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")"></script>
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/layer/layer.js"></script>
    <script src="~/Scripts/laydate/laydate.js"></script>
    <script src="~/Scripts/laypage/laypage.js"></script>
    <script src="~/Content/ueditor/ueditor.config.js"></script>
    <script src="~/Content/ueditor/ueditor.all.js"></script>
    <script src="~/Content/My97DatePicker4.7/WdatePicker.js"></script>
    <script src="~/Content/jquery/ExistisUpdate.js"></script>
    <script type="text/javascript" src="~/Content/Front/js/indexnew.js"></script>
    <script type="text/javascript" src="/Content/Front/js/jquery.SuperSlide.js"></script>
    <script src="~/Content/jquery/base64.js"></script>
    <script src="~/Content/jquery/ReturnUrl.js"></script>
    <script src="~/Content/cutpic.js"></script>
    <script src="~/Content/uploadify/jquery.uploadify-3.1.min.js"></script>
    <script src="~/Content/baiduAdd.js"></script>
    <script type="text/javascript">

        function Loading() {
            layer.msg('加载中', { icon: 16, time: 10000 });
        }
        function Loaded() {
            layer.closeAll('dialog');
        }
        $(function () {
            $('#helpSearch').click(function () {
                var value = $("#searchContent").val();
                Loading();
                location.href = "/tQuestion/HelpSearch?questionContent=" + value;
                return false;
            });

            $('#idsubmit').click(function () {
                if ($("#QuestionContent").val().length == 0) {
                    layer.msg("问题不能为空");
                    return false;
                }
                //验证结束

                var value = $("form").serialize();
                Loading();
                $.ajax({
                    url: '/tQuestion/AddFAQ?t=' + Math.random(),
                    type: 'post',
                    datatype: 'json',
                    data: value,
                    success: function (msg) {
                        Loaded();
                        if (msg.code == 0) {
                            layer.msg("添加成功！");
                        } else {
                            layer.msg("添加失败！");
                        }
                    }
                });
                return false;
            });
        })
    </script>

</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="lb_index">
            @Html.Partial("_OtherTopInfo")
            <div class="lb_index_scarh_top">

                <div class="lb_School_index_top">
                    <div class="lb_School_index_top_index">
                        <b>您所在位置：</b><span>帮助中心</span>
                    </div>
                </div>
                @*帮助中心*@
                <div class="lb_add_index_bz_duv">
                    <div class="lb_add_index_bz_div">
                        <div class="lb_add_index_bz_div_top">
                            <b>帮助中心</b>
                        </div>
                        <div class="lb_add_index_bz_div_bottom">
                            <a></a>
                            <input type="text" value="" id="searchContent" />
                            <a class="input" href="" id="helpSearch">搜索</a>
                        </div>
                    </div>
                </div>
                <div class="lb_add_index_bz_index">
                    <div class="lb_add_index_bz_index_div">
                        <b>帮助中心</b>
                    </div>
                </div>
                <div class="lb_add_index_bz_demo">
                    <div class="lb_add_index_bz_demo_left">
                        <ul>
                            @{
        List<ViewYogaDicItem> ViewYogaDicItemList = (ViewBag.Diclist as List<ViewYogaDicItem>);
        foreach (ViewYogaDicItem item in ViewYogaDicItemList)
        {
            <li><a href="/tQuestion/PersonalHelpCenters?TitleID=@item.ID">@item.ItemName</a></li>
        }
                            }
                            <li><a href="/tQuestion/Help">寻求帮助</a></li>
                            <li><a href="">新手上路</a></li>
                        </ul>
                    </div>


                    <div class="lb_add_index_bz_demo_right">
                        <div class="lb_add_index_bz_demo_top">
                            <p>寻求帮助</p>
                        </div>
                        <div class="lb_add_index_bz_demo_bottom" style="border:0px">
                            <div class="lb_add_index_bz_demo_bottom_p">
                                <p>目前我们网站还正处于公测期，如果您在使用过程中遇到任何问题，请与我们联系，我们会及时调整完善，并非常感谢您的关注与支持。<br /><a>问题反馈QQ群：158119062</a></p>
                                <p>网站建设在不断地完善中，如果您在使用过程中如果有好的建议或意见可以随时反馈给我们，我们非常高兴与感谢，并对您的建议进行认真考虑，如果您提供了多而有效的建议呗采纳，我们将有一定的奖励作为回报。</p>
                            </div>
                            <div class="lb_add_index_bz_demo_bottom_li">
                                <ul>
                                    <li>
                                        <div class="lb_add_index_bz_demo_bottom_li_le">
                                            <b>问题类型:</b>
                                        </div>
                                        <div class="lb_add_index_bz_demo_bottom_li_rig">
                                            <select id="iType" name="iType">
                                                @{
        foreach (var item in ViewYogaDicItemList)
        {
            <option value="@item.ID">@item.ItemName</option>
        }
                                                }
                                            </select>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="lb_add_index_bz_demo_bottom_li_le">
                                            <b>Email：</b>
                                        </div>
                                        <div class="lb_add_index_bz_demo_bottom_li_rig">
                                            @Html.TextBoxFor(model => model.ContactInformation, new { @class = "text-input medium-input" })
                                        </div>
                                    </li>
                                    <li>
                                        <div class="lb_add_index_bz_demo_bottom_li_le">
                                            <b>用户名：</b>
                                        </div>
                                        <div class="lb_add_index_bz_demo_bottom_li_rig">
                                            @Html.TextBoxFor(model => model.UserName, new { @class = "text-input medium-input" })
                                        </div>
                                    </li>
                                    <li>
                                        <div class="lb_add_index_bz_demo_bottom_li_le">
                                            <b>内容：</b>
                                        </div>
                                        <div class="lb_add_index_bz_demo_bottom_li_rig">
                                            @Html.TextBoxFor(model => model.QuestionContent, new { @class = "text-input medium-input" })
                                        </div>
                                    </li>
                                    <li>
                                        <div class="lb_add_index_bz_demo_bottom_li_le">
                                            <b>&nbsp;</b>
                                        </div>
                                        <div class="lb_add_index_bz_demo_bottom_li_rig">
                                            <input type="button" value="确定" class="in" id="idsubmit" />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</body>
</html>
