@using zzfIBM.WebControls.Mvc
@model zzfIBM.WebControls.Mvc.PagedList<IYogaKoo.ViewModel.ViewtMessage>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ModelsDetails2.cshtml";
}
  <script type="text/javascript" src="/Content/Front/js/jquery-1.8.3.min.js"></script>

<table class="lb_rz_table" style="width:auto;margin-left:10px" cellpadding="0" cellspacing="0">
    <tr>
        <th style="width:100px">
            类型
        </th>
        <th style="width:100px">
            留言人
        </th>
        <th style="width:590px">
            内容
        </th>
        <th style="width:100px">
            留言时间
        </th>
        <th style="width:30px">
            赞
        </th>

        <th style="width:100px">操作</th>
    </tr>

    @foreach (var item in ViewBag.listGroup)
    {
        <tr>
            <td style="width:100px">
                @(item.entity.FormType == 1 ? "导师" : "习练者")
            </td>
            <td style="width:100px">
                @item.FromUser
            </td>
            <td style="text-align:left">
                @Html.Raw(item.entity.sContent)
            </td>
            <td style="width:200px">
                @item.entity.CreateDate
            </td>

            <td style="width:100px">
                @item.entity.iZan
            </td>

            <td style="width:100px">
                @Html.ActionLink("删除", "Delete", new { id = item.entity.ID })
            </td>
        </tr>
    }
     
</table>
@Html.AjaxPager(Model, new PagerOptions { PageIndexParameterName = "page" }, new AjaxOptions { UpdateTargetId = "right_con" })
 
<script type="text/javascript">
   
    $(document).ready(function () {
        //设置展开与显示
        $("#lb_gr_idnex_center_rizhi_left_l_b_xlz ul li").click(function () {
            $("#lb_gr_idnex_center_rizhi_left_l_b_xlz ul li ul").toggle();
        });
        //设置选中颜色
        var itype=@ViewBag.iType;       
        $("#lb_gr_idnex_center_rizhi_left_l_b_xlz ul li ul li:eq("+itype+")").css("background-color","#f2f2f2");
        
       // $(".lb_rz_table tr:even").css("background", "#999999");//奇数行  
        $("tr:odd").css("background", "#eeeeee");//偶数行     
    });


    function DaoShiDel(id) {
        if (confirm("是否删除!")) {
            window.location = "/tWriteLog/Delete/" + id;// 来打开新窗口
        }
    }
</script>