@model IYogaKoo.ViewModel.ViewtWriteLog

@{
    ViewBag.Title = "Edit";
    //Layout = "~/Views/Shared/_LayoutSetUp.cshtml";
    Layout = "~/Views/Shared/ModelsDetails2.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")"></script>
 
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset style="margin-left:55px">
        
        @Html.HiddenFor(model => model.ID)

        @*<div class="editor-label">
            操作人：
        </div>
        <div class="editor-field">
            @ViewBag.Name
        </div>*@
        <table>
            <tr>
                <td colspan="2" align="center">
                    &nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.sTitle)：</td>
                <td>@Html.EditorFor(model => model.sTitle)
                @Html.ValidationMessageFor(model => model.sTitle)</td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                     &nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.sContent)：</td>
                <td>
                   @Html.TextAreaFor(model => model.sContent, new { id = "editor", style = "height:200px; width:645px;margin-left:15px" })
                @Html.ValidationMessageFor(model => model.sContent)
                <input type="hidden" id="hsContent" name="hsContent" value="" />
            </td>
        </tr>
            <tr>
                <td colspan="2" align="center">
                    &nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td> &nbsp;&nbsp;</td>
                <td>
                       <div class="editor-field">
                    <input type="submit" value="修改" id="idsubmit" /> 
                     <div class="lb_return">
                          <p style="float:left">
                    @Html.ActionLink("返回", "logIndex")
                              </p>
                     </div>
                       </div>
                </td>
            </tr>
        </table>
         
         
    </fieldset>
}

 
    @Scripts.Render("~/bundles/jqueryval")


<script src="@Url.Content("~/Content/ueditor/ueditor.config.js")"></script>
<script src="@Url.Content("~/Content/ueditor/ueditor.all.js" )"></script>
<script type="text/javascript">
    $(function () {
        UE.getEditor('editor'); //内容编辑器
        $('#idsubmit').click(function () {            
            var data = $("form").serialize();
            $.ajax({
                url: '/tWriteLog/logEdit?t=' + Math.random(),
                type: 'POST',
                data: data,
                success: function (data) {

                    if (data.code == 0) {
                        window.location = '/tWriteLog/logIndex';
                    } else {
                        layer.msg("修改失败！");
                    }

                }, error: function () {
                    layer.msg("修改失败！");

                }
            });
            return false;
        });
        //
    });
   
</script>
 