@using Webdiyer.WebControls.Mvc
@model Webdiyer.WebControls.Mvc.PagedList<IYogaKoo.ViewModel.ViewtMessageGroup>
@{
    Layout = null;
}

<div style="background-color:white">

        
               
                <div class="lb_School_qbpl_div" >
                   @{var i = 0;}
                       
                        @foreach (var item in Model)
                        {
                           
                    <div class="lb_School_qbpl_div_d">
                        <div class="lb_School_qbpl_div_d_top" >
                            <div class="lb_School_qbpl_div_d_left">
                                <a href="@item.sUrl"><img   src="@Commons.Helper.CommonInfo.GetDisplayImg(item.DisplayImg)" /></a>                           </div>
                            <div class="lb_School_qbpl_div_d_right" >
                                <p><a href="@item.sUrl">@item.FromUser</a>@item.entity.CreateDate<b>@(Model.StartItemIndex + i++) F</b></p>
                                <p class="p">@Html.Raw(@item.entity.sContent)</p>
                                 <div id="stsmall">
                                        @{
                                            if (item.entity.photo != null)
                                            {
                                                string[] arrpic = item.entity.photo.ToString().Split(';');
                                                for (int p = 0; p < arrpic.Length; p++)
                                                {
                                                    if (!String.IsNullOrEmpty(arrpic[p]))
                                                    {
                                                        <a href="@arrpic[p]" middlesrc="@arrpic[p].Replace("/2/", "/2/Middle/")" target="_blank" class="preview"><img src="@arrpic[p].Replace("/2/", "/2/Small/")" style="border:0px;" width="50" height="50" /></a>
                                                    }
                                                }
                                            }
                                        }
                                    </div>
                                @if (item.msgList.Count != 0)
                                {
                                    foreach (var it in item.msgList)
                                    { 
                                        <div class="lb_School_qbpl_div_d_right" style=" width:95%; border-bottom:1px solid #ccc; margin-top:10px; padding-bottom:10px">
                                            @it.FromUser 回复：&nbsp;&nbsp;&nbsp;&nbsp;
                                            <div style="">
                                                 <span>
                                                    @it.entity.sContent
                                                </span>
                                                &nbsp;&nbsp;<p>@it.entity.CreateDate</p>
                                               
                                                &nbsp;&nbsp;
                                            </div>
                                        </div>
                                    }
                                }
                                <div class="lb_School_qbpl_div_d_right_hide"   id="lb_School_qbpl_div_d_right_hide@(item.entity.ID)">
                                    @{
                            var itemid = "sContent" + item.entity.ID;
                                        }
                                    <textarea id="@itemid"   name="@itemid"></textarea>
                                    <input type="button" value="发表" onclick="btnFaBiao('@item.entity.ID','@item.entity.FromUid')" />
                                    <input type="button" value="取消"  eid="@item.entity.ID" />
                                </div>
                            </div>
                        </div>
                        <div class="lb_School_qbpl_div_d_bottom" >
                            <div class="lb_School_qbpl_div_d_bottom_d" id="lb_School_qbpl_div_d_bottom_d@(item.entity.ID)">
                                <a href="javascript:;" eid="@item.entity.ID">回复</a><h1>|</h1>                           
                                <a id="zan@(item.entity.ID)" href="javascript:iZan('@item.entity.ID','@item.UserType');">赞同</a>                        
                                <span>(</span><span id="zancount@(item.entity.ID)">@item.entity.iZan</span><span>)</span>
                            </div>
                        </div>
                    </div>
                        }
                </div>
            
</div>
<div class="text-center" style="" id="menepager">
    @Ajax.Pager(Model, new PagerOptions
{
   
    PageIndexParameterName = "page",
    ContainerTagName = "ul",
    CssClass = "menepager",  
    PrevPageText = "上页", NextPageText = "下页", FirstPageText = "首页", LastPageText = "尾页", 
    CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>",
    DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>",
    PagerItemTemplate = "<li>{0}</li>"
}, new MvcAjaxOptions { UpdateTargetId = "mydiv" , HttpMethod="Post"} )
</div>
 <script language="javascript">
     $(function () { 
         $('.lb_School_qbpl_div_d_bottom_d a').click(function () { 
             eventshow(this);
         });
         $('.lb_School_qbpl_div_d_right_hide input').click(function () { 
             eventhide(this);
         });
     });


</script>