@model List<IYogaKoo.ViewModel.ViewClass>

@{
    ViewBag.Title = "我的相册";
    Layout = "~/Views/Shared/_LayoutSetUpBack.cshtml";
    var Gender = ViewBag.otherGender;
    var YogisLevel = ViewBag.YogisLevel;//=4 大师
}

@section styles
{
    <style type="text/css">
        .wrapper
        {
            width:950px;
        }
             /*瀑布流*/
        .wrapper2 img {
            border: none;
        }

        .wrapper2 {
            width: 800px;
            margin: 0 auto;
        }

            .wrapper2 h3 {
                color: #3366cc;
                font-size: 16px;
                height: 35px;
                line-height: 1.9;
                text-align: center;
                border-bottom: 1px solid #E5E5E5;
                margin: 0 0 10px 0;
            }

        #con1_12 {
            position: relative;
        }

            #con1_12 .product_list2 {
                position: relative;
                left: 0px;
                top: 0px;
                padding: 10px;
                background: #eee;
                margin: 5px;
            }
            .product_list
            {width:197px;}
               .product_list img
            {width:197px;}
                .product_list p
            {width:197px;}
        .product_list2 img {
            width: 180px;
        }

        .product_list2 p {
            padding: 2px 0px;
            font-size: 12px;
            text-align: center;
            color: #666;
            white-space: normal;
            width: 180px;
            word-break: break-all;
            text-align:left;
        }
        .lb_gr_xc_left
        {width:210px;}
        .lb_gr_xc_left ul {
width:210px;        
        }
        .lb_gr_xc_left ul li {
        line-height:35px; 
width:210px;
        }
        .lb_gr_xc_left ul li span{
            
        }
         .lb_gr_xc_left ul li a{
              font-size:14px;
              color:#333;
             width:200px;  height:40px;
                line-height:40px;
                display:block;
         }
          .lb_gr_xc_left ul li a span{
              float:right;
              margin-right:58px;
         }
            .lb_gr_xc_left ul li a.a1,.lb_gr_xc_left ul li a.a2,.lb_gr_xc_left ul li a.a3 {
                background-position-y:5px;
            
            }
        #wrap .box .info .title {
            width: 273px;
            height: 40px;
            margin: 0 auto;
            line-height: 40px;
            text-align: left;
            color: #666;
            font-size: 18px;
            /*font-weight: bold;*/
            overflow: hidden;
        }
          #wrap .box .info .title a,p{
           margin-left:15px;
        }
          
    </style>
}
<div class="lb_gr_index_top">
    <ul>
        @if (YogisLevel == 4)
        {
            <li><a href="/tWriteLog/OtherIndex/?uid=@ViewBag.id">@(Gender)的文章</a></li>
        }
        else
        {
            <li><a  href="/tWriteLog/OtherIndex/?uid=@ViewBag.id">@(Gender)的日志</a></li>
        }
        <li><a  href="/tWriteLog/OtherPics?id=@ViewBag.id">@(Gender)的相册</a></li>
        <li><a class="on" href="/tWriteLog/OtherClass?uid=@ViewBag.id">@(Gender)的活动</a></li>
        <li><a href="/YogaUser/otherFollowList/@ViewBag.id">@(Gender)的瑜伽圈</a></li>
    </ul>
</div>
<input type="hidden" id="hhid" value="@ViewBag.user.Uid" />
<div class="lb_gr_idnex_center_rizhi" style=" height: auto;">
    <div class="lb_gr_xc_left">
        <ul>
            <li class="on" val="1"><a class="a1">我发起的活动<span>@ViewBag.count1</span></a></li>
            <li val="2"><a class="a2">我参加的活动<span>@ViewBag.count2</span></a></li>
            <li val="3"><a class="a3">感兴趣的活动<span>@ViewBag.count3</span></a></li>
        </ul>
    </div>
    <div id="Content" style="float:left; ">
        @Html.Partial("OtherClassList", Model)
    </div>
</div>

<script type="text/javascript">

    $(function () {
        //左侧导航
        $(".lb_gr_xc_left ul li").click(function () {
            var lival = $(this).attr("val");
            var url = "/tWriteLog/OtherClass?uid=@ViewBag.id&type=" + lival + "&r=" + Math.random();
            $.ajax({
                url: url,
                success: function (result) { 
                    $("#Content").html(result);
                }
            });
            $(this).addClass("on").siblings().removeClass("on");
        });
    });

    function flowuid(obj) {
        var hhid = $("#hhid").val();
        if (hhid != '' && hhid != 0) {

            if (obj == '' || obj == undefined || obj == null) {
                if (confirm("你还没有添加详细信息，是否添加？")) {
                    window.open("/Login/UserDetailEdit");
                }
            } else {
               
                $.ajax({
                    url: "/Follow/SetFollow",
                    type: "get",
                    dataType: "text",
                    data: {
                        quertid: obj,
                        isf: $("#flowuid").html().trim(),
                        UserType: $("#htype").val()
                    },
                    success: function (relust, status) {
                        if (status == "success") {
                            if (relust == "1") {
                                layer.msg("关注成功！");
                                $("#flowuid").html("已关注");
                                var ofnum = $(".lb_name_div ul li").eq(1).children("p").text();
                                $(".lb_name_div ul li").eq(1).children("p").text(parseInt(ofnum) + 1);
                            }
                            else if (relust == "0") {
                                layer.msg("取消成功！");
                                $("#flowuid").html("+关注");
                                var ofnum = $(".lb_name_div ul li").eq(1).children("p").text();
                                $(".lb_name_div ul li").eq(1).children("p").text(parseInt(ofnum) - 1);
                            }
                            else if (relust == "3") {
                                layer.msg("亲自己不需要关注自己的！");
                            }

                        } else {
                            layer.msg("关注失败！");
                        }
                    },
                    async: true,//同步操作，同步请求将锁住浏览器，用户其它操作必须等待请求完成才可以执行
                });
            }
        } else {
            if (confirm("登录后才可以加关注!")) {

                window.open("/Login/Login");// 来打开新窗口
            }
        }
    };
</script>
