@using Webdiyer.WebControls.Mvc
@model Webdiyer.WebControls.Mvc.PagedList<IYogaKoo.ViewModel.ViewYogisModels>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>导师列表</title>
    <link type="text/css" href="/Content/Front/css/indexnew.css?v=1" rel="stylesheet" />
    <script src=@Url.Content("~/Scripts/jquery-1.8.2.min.js")></script>
  @*  <link href="@Url.Content("~/Content/artDialog4.1.1/_doc/demo.css")" rel="stylesheet" />*@
        <link href="@Url.Content("~/Content/Front/css/tanchuceng.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Content/artDialog4.1.1/jquery.artDialog.js?skin=blue")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/artDialog4.1.1/artDialog.iframeTools.js")" type="text/javascript"></script>
    <script type="text/javascript">

        function setValue(YID, RealName) {

            art.dialog.data('YID', YID);
            art.dialog.data('RealName', RealName);
            art.dialog.close();

        }
        //多选
        function setValueAll() {
            var strvalue = "";
            var strName = "";
            $("input[name='AllCheck']:checked").each(function () {
                
                strvalue += this.value + ",";
                strName += this.alt + ",";
            });
            art.dialog.data('YID', strvalue);
            art.dialog.data('RealName', strName);
            art.dialog.close();
        }

        $(function () {
            $("#seachTeacher").click(function () {
                var text = $("#teacherName").val();
                //art.dialog.close();
                //art.dialog.open('/Login/GetTeachYogisList?page=1$text='+text, {
                //    title: '选择导师',
                //    lock: true,
                //    width: 600,
                //    hight: 600,
                //    close: function () {
                //        var YID = art.dialog.data('YID', YID);
                //        var RealName = art.dialog.data('RealName', RealName);

                //        if (YID !== undefined) {
                //            document.getElementById('hTeachYogis').value = YID;
                //        }
                //        if (RealName !== undefined) {
                //            document.getElementById('TeachYogis').value = RealName;//显示名称
                //        }
                //    }
                //});
                $.ajax({
                    url: '/Login/GetTeachYogisList?page=1&text=' + text,
                    type: 'get'
                });
            });
        })
    </script>
    <script src=@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")></script>
    @{Html.RegisterMvcPagerScriptResource();}
    <script src="~/Content/baiduAdd.js"></script>
</head>
<body>
    <label>搜索:</label>
    <input type="text" id="teacherName" />
    <input id='seachTeacher' type="button" class="lb_sc" value="查询" />

    <div style="display:block" id="Content">
        @Html.Partial("GetTeachYogisListChild", Model)
    </div>
</body>

</html>
